body {
  min-height: -webkit-fill-available;
  min-height: 100vh;  
  padding-top: 60px;
  background: whitesmoke;
}

html {
  height: -webkit-fill-available;
}

main {
  height: -webkit-fill-available;
  height: 100vh;
  max-height: 100vh;
  max-width: 950px;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0 auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 950px; 
}

.container {
  max-width: 950px;
  min-width: 300px;
}

.navbar {
  max-width: 950px;
  margin:0 auto;
}

.navbar-brand {
  color: #253675;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #253675c4;
  font-weight: bold;
}

.active {
  font-weight: bold;
}

output {
  font-weight: bold;
}
